/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .tns-nav > [aria-controls] {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 0;
}
.tns-controls [aria-controls] {
    font-size: 15px;
    margin: 0 5px;
    padding: 0 1em;
    height: 2.5em;
    color: #000;
    background: #66CCFF;
    border-radius: 3px;
    border: 0;
}
.tns-nav, .tns-controls{
    text-align: center;
    margin: 10px 0;
}
.tns-nav > .tns-nav-active {
    background: #999;
}
.tns-item p{
    margin: 0;
    padding: 0.8em 0;
    line-height: 1.4;
    font-weight: 300;
    text-align: center;
}

.controls li {
    display: block;
    position: absolute;
    top: 75%;
    height: 40px;
    line-height: 40px;
    margin-top: -30px;
    padding: 0px;
    cursor: pointer;
    transition: background 0.3s;
}
.controls li:focus{
    border: 0px;
    outline:0px;
}
.controls .next {
    right: 0;
}
.controls .prev {
    left: 0;
}
.arrow-left{
    background-image: url(../img/angle-left.png);

}